<div ng-controller='flexigraph' ng-init="init()">
  <div ng-show="panel.counter_pos == 'above'" id='{{$id}}-legend'>

    <!-- legend -->
    <div class="small" ng-show="panel.arrangement == 'horizontal'" ng-repeat="query in data" style="float:left;padding-left: 10px;">
     <span><i class="icon-circle" ng-style="{color:query.info.color}"></i> {{query.info.alias}} ({{query.data[0][1]}}) </span>
    </div><br>

  </div>

  <div style="clear:both"></div>

  <div flexigraph-chart params="{{panel}}" style="position:relative"></div>

  <div ng-show="panel.counter_pos == 'below'" id='{{$id}}-legend'>

    <!-- legend -->
    <div class="small" ng-show="panel.arrangement == 'horizontal'" ng-repeat="query in data" style="float:left;padding-left: 10px;">
     <span><i class="icon-circle" ng-style="{color:query.info.color}"></i></span> {{query.info.alias}} ({{query.data[0][1]}}) </span>
    </div><br>

  </div>

</div>